# build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.vs/
.vscode/

# Logs
Logs/
*.log

# Windows image cache
Thumbs.db

# Deployment
PublishOutput/
*.iss
*.exe
*.zip
